
.App{
    height: 100%;
    width: 100%;
    background-color: #DB7E82;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#0D152B;
}

.App ul{
    list-style: none;
    margin: 0;
    padding: 0;
}